* {
    box-sizing: border-box;
}

main {
    margin-top: 40px;
}

.property {
    border-radius: 5px;
    box-shadow: #cccccc 3px 5px 10px; 
    margin: 10px 0 10px 0;
}
.property div {
    border-radius: 0 5px 5px 0;
}
.property-description {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    /* border-radius: 0 5px 5px 0; */
    /* padding: 5px; */
}
.property-description div {
    padding: 10px 0;
}

.social i {
    font-size: 30px;
    border-radius: 50%;
    padding: 5px;
    background-color: #999999;
}


@media only screen and (max-width:468px) {
    .property-description {
        border-radius: 0 0 5px 5px;   
    }
}
