* {
    box-sizing: border-box;
}

nav .navbar-brand {
    height: 40px;
}
nav .navbar-brand  img {
    height: 100%;
    width: auto;
}
#prop h5{
    text-align: center;
}

#agents h5{
    text-align: center;
}

